main{
  background-color: rgb(230, 230, 230);
}
:root{
  background-color: rgb(230, 230, 230);
}
/* NavBar && hyperlinks */
header {
  background-color: #2b2b2b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex!important;
  align-items: center!important;
}
header * {
  display: inline-block;
  font-size: 0.75em;
}
header li{
  margin: 5 px;
}
main{
  margin-top: 80px;
  padding: 35px;
}

#navbar {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  margin-left: auto ;
}
  
#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: var(--main-text-color);
  font-size: 20px;
  height: 100%;
  list-style: none;
}
  
.nav-link {
  color: var(--white);
  cursor: pointer;
  user-select: none;
  padding: 16.5px;

}

#nav-list a{
  transition: all 0.25s ease!important;
  color: #a7a7a7!important;
}
#nav-list a:hover{
  transform: translateY(5px)!important;
  color: white!important;
}

.nav-link > a, .nav-link > a:visited {
  text-decoration:none;
  color: var(--white);
}
a{
    color: black!important;
}
a:link{
    text-decoration: none!important;
    font-size: 2em;
}

/* Welcome section */
h1{
  font-family: 'Mukta', sans-serif;
}
h3{
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  font-style: italic;
}
/* 
ToDo
1. about section
2. projects section
3. link a CV en LaTeX
4. general styling
*/
/* About section */


/* Portfolio/projects section */
#projects-section{
  margin-top: 30px;
}
.projects-section-title h2{
  font-family: 'Mukta', sans-serif;
  font-weight: 50!important;
  font-size: 2em;
}

/* Contact Info Section */
#contact-section {
  background-color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
#contact-section {
  padding-top: 30px;
  padding-bottom: 0px;
}
  
#contact-section h2 {
  color: var(--white);
  font-family: 'Work Sans', sans-serif;
}
  
#profile-link-container {
  height: 50%;
  margin: 0 auto 30px auto;
  position: relative;
  width: 60%;
  display: flex;
  justify-content: space-around;
  font-family: 'Titillium Web', sans-serif;
}
  
.contact {
  margin: 15px;
  transition: all 0.25s ease;
}
  
.contact:hover {
  transform: translateY(5px);
}
  
.profile-link {
  color: var(--white);
  display: block;
  font-size: 25px;
  text-decoration: none;
}